---
import Layout from '../layouts/Layout.astro';
import data from '../../public/data.json';
import '../../assets/scss/astro-ecommerce.scss';
import CardCategory from '../components/products/cardCategory';
import Navbar from '../components/navbar';
import Footer from '../components/footer';
import PromoSectionLarge from '../components/promo/promoSectionLarge';
import ScheduleAndLocation from '../components/scheduleAndLocation/scheduleAndLocation';
---

<Layout title="Landing Page">
	<main>
    <Navbar />
    <PromoSectionLarge 
      title={"Phone Hut"}
      full_description={data.products[0].full_description}  
      pageHeaderBgImg={"../images/bg2.jpg"}
      pageHeaderMinVh="90vh"
    />
    
    <div class="container my-5">
      <div class="d-block text-center mb-5">
        <h3>Our services</h3>
      </div>
      <div class="row mb-5">
        {data.categories.slice(0, 3).map(category => 
          <div class="col-md-6 col-lg-4">
            <CardCategory
              thumb_src = {category.thumb_src}
              collection = {category.collection}
              title = {category.title}
            />
          </div>
        )}
      </div>

     <div class="my-5">
      <ScheduleAndLocation />
    </div>
    <div class="my-5">
    </div>
    <Footer />

    </div>
  </main>

</Layout>